body {
	background-color: #1e1e2e;
	font-size: 12px;
	font-family: 'CaskaydiaCove Nerd Font'
		, 'JetBrains Mono Nerd Font'
		, 'Courier New'
		, Courier;
	color: #cdd6f4;
}

.nav {
	background-color: #181825;
}

.nav button:hover {
	color: #cba6f7;
}

.nav button.active {
	color: #f38ba8;
}

.nav button.yt:hover {
	color: #f38ba8;
}

.nav button.reddit:hover {
	color: #fab387;
}

.nav .mark {
	color: #89b4fa;
}

.content h1 {
	text-align: center;
}
