@import "styling/tags.css";
@import "styling/nav.css";

body {
	background-color: #1e1e2e;
	font-size: 12px;
	font-family: 'CaskaydiaCove Nerd Font'
		, 'JetBrains Mono Nerd Font'
		, 'Courier New'
		, Courier;
	color: #cdd6f4;
}

.content h1 {
	text-align: center;
}

.link {
	color: #89b4fa;
}

.link:visited {
	color: #cba6f7;
}

.r-tag {
	color: #a6e3a1;
}
